<h1>Registrar Cuenta</h1>
<form action="/signup" method="post">
    <section>
        <label for="username">Dame tu Correo</label>
        <input id="username" name="username" type="text" autocomplete="username" required>
    </section>
    <section>
        <label for="new-password">Dame tu Contraseña</label>
        <input id="new-password" name="password" type="password" autocomplete="new-password" required>
    </section>
    <button type="submit">Registrarse</button>
</form>

<br><br>

<a href="/">
    <button>Iniciar Sesión</button>
</a>